@keyframes progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e1e1e;
}

html {
  color: #fff;
  list-style-type: none;
  text-decoration: none;
  font-family: "Cabin";
  font-weight: 100;
  font-size: 16px;
}

.cont {
  margin: 5rem 0;
}
.cont__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5rem;
}
.cont__header-h1 {
  font-family: "Amatic SC", Cabin;
  font-size: 5rem;
  position: relative;
}
.cont__header-h1::after {
  content: "";
  position: absolute;
  height: 0.3rem;
  width: 100%;
  display: block;
  background: linear-gradient(330deg, #5b0eeb, #6d5dfc, #8abdff);
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
.cont__first, .cont__fourth, .cont__second {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cont__first-p, .cont__fourth__text-p-bottom, .cont__third__text-p-bottom, .cont__third__text-p, .cont__second-p, .cont__final, .cont__fourth-p {
  font-size: 2rem;
  margin-bottom: 5rem;
  margin: 0 5rem;
  text-align: center;
}
.cont__first__view {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  gap: 5rem;
}
.cont__first__view-sketch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.cont__first__view-sketch-p, .cont__final-text-span, .cont__second__view-p, .cont__fourth__view-p, .cont__third__view-p {
  font-size: 1.5rem;
  padding: 0.6rem 1.2rem;
  border-radius: 0.8rem;
  box-shadow: 0.2rem 0.2rem 0.8rem #000000, -0.2rem -0.2rem 0.5rem #3f3f3f;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
}
.cont__second-p, .cont__final, .cont__fourth-p {
  margin-top: 5rem;
  position: relative;
}
.cont__second-p::after, .cont__final::after, .cont__fourth-p::after {
  content: "";
  position: absolute;
  height: 0.3rem;
  width: 100%;
  left: 0;
  top: -2rem;
  background: linear-gradient(330deg, #5b0eeb, #6d5dfc, #8abdff);
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
.cont__second__view {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cont__second__view-type {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cont__second__view-p, .cont__fourth__view-p, .cont__third__view-p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  margin: 3rem 0;
}
.cont__second__view-mockup {
  display: flex;
  gap: 2rem;
}
.cont__second__view-mockup-item, .cont__fourth__view-mockup-home, .cont__third__view-webpage-nav, .cont__third__view-webpage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
}
.cont__second__view-mockup-item span, .cont__fourth__view-mockup-home span, .cont__third__view-webpage-nav span, .cont__third__view-webpage span {
  font-size: 1.2rem;
  padding: 0.5rem 0.8rem;
  border-radius: 0.8rem;
  color: #fff;
  font-weight: 600;
  background: linear-gradient(330deg, #5b0eeb, #6d5dfc, #8abdff);
  box-shadow: 0.2rem 0.2rem 0.8rem #000000, -0.2rem -0.2rem 0.5rem #3f3f3f;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
}
.cont__second__view-mockup-item-img {
  max-width: 435px;
}
.cont__third {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cont__third__text, .cont__fourth__text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin: 0 5rem;
}
.cont__third__text::after, .cont__fourth__text::after {
  content: "";
  position: absolute;
  height: 0.3rem;
  width: 100%;
  left: 0;
  top: -2rem;
  background: linear-gradient(330deg, #5b0eeb, #6d5dfc, #8abdff);
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
.cont__third__text-p-bottom {
  margin: 3rem 5rem;
}
.cont__third__view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cont__third__view-web {
  display: flex;
  gap: 2rem;
}
.cont__third__view-webpage-nav {
  align-items: start;
}
.cont__third__view-web-nav {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.cont__third__view-img {
  max-width: 435px;
}
.cont__third__view-img-nav {
  max-width: 90vw;
}
.cont__fourth__view-type {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cont__fourth__view-mockup-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cont__fourth__view-mockup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-items: start;
  gap: 2rem;
  margin-bottom: 5rem;
}
.cont__fourth__view-mockup-home {
  position: relative;
}
.cont__fourth__view-mockup-home::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(30, 30, 30, 0.5607843137), #1e1e1e);
}
.cont__fourth__view-mockup-home-scroll {
  height: 650px;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.cont__fourth__view-mockup-home-img {
  width: 700px;
  height: auto;
}
.cont__fourth__text::after {
  background: linear-gradient(330deg, rgba(39, 39, 39, 0.862745098), rgba(78, 78, 78, 0.7960784314), rgba(170, 170, 170, 0.7137254902));
}
.cont__fourth-deco {
  position: relative;
  width: 5px;
  height: 30rem;
  border-radius: 2.5px;
  background: linear-gradient(330deg, rgba(39, 39, 39, 0.862745098), rgba(78, 78, 78, 0.7960784314), rgba(170, 170, 170, 0.7137254902));
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  -ms-border-radius: 2.5px;
  -o-border-radius: 2.5px;
}
.cont__final {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.cont__final-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.cont__progress-bar {
  height: 12px;
  margin: 3rem 0;
  width: 100%;
  background: linear-gradient(to right, #840a82, #540D6E, #37238E, #1261A0, #2A9EBB, #73D2DE, #2A9EBB, #1261A0, #37238E, #540D6E, #840a82);
  background-size: 200% 100%;
  animation: progress 5s linear infinite;
  -webkit-animation: progress 5s linear infinite;
}

.wireframe__img-mobile {
  width: 14.75rem;
  height: auto;
}

.compare-mobile::before {
  background: none;
}

.scroll-mobile {
  height: 700px;
}

.fourth__mobile-img {
  width: 300px;
}

.non-scroll-img {
  margin-right: 16.8px;
}

@media screen and (max-width: 1300px) {
  html {
    font-size: 13px;
  }
  img {
    width: 90%;
  }
  .cont__second__view-mockup {
    gap: 0.5rem;
  }
  .cont__fourth-deco {
    display: none;
  }
  .cont__fourth__view-mockup {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .cont__fourth__view-mockup-home-img {
    max-width: 450px;
  }
}

/*# sourceMappingURL=main.css.map */
