// utilities
    // vars-colors
    $main-color: #1e1e1e;
    $background-uwu: linear-gradient(330deg, #5b0eeb , #6d5dfc, #8abdff);
    $background-uwu-2: linear-gradient(330deg, #272727dc, #4e4e4ecb , #aaaaaab6);


    // vars-shadow
    $shadow: .2rem .2rem .8rem #000000, -.2rem -.2rem .5rem #3f3f3f;

    // mixin-d-flex
    @mixin d-flex($direction){
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: $direction;
    }

    // key-frame
    @keyframes progress {
        0% { background-position: 0 0; }
        100% { background-position: 200% 0; }
    }


// resets
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: $main-color;
}

html{
    color: #fff;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Cabin';
    font-weight: 100;
    font-size: 16px;
}

// home page

.cont{
    margin: 5rem 0;

    &__header{
        @include d-flex(column);
        margin-bottom: 5rem;

        &-h1{
            font-family: 'Amatic SC', Cabin;
            font-size: 5rem;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                height: .3rem;
                width: 100%;
                display: block;
                background: $background-uwu;
                border-radius: .3rem;
                -webkit-border-radius: .3rem;
                -moz-border-radius: .3rem;
                -ms-border-radius: .3rem;
                -o-border-radius: .3rem;
            }
        }
    }

//sketch section 
    &__first{
        @include d-flex(column);

        &-p{
            font-size: 2rem;
            margin-bottom: 5rem;
            margin: 0 5rem;
            text-align: center;
        }

        &__view{
            display: flex;
            justify-content: center;
            margin-top: 5rem;
            gap: 5rem;

            &-sketch{
                @include d-flex(column);
                gap: 2rem;

                &-p{
                    font-size: 1.5rem;
                    padding: .6rem 1.2rem;
                    border-radius: .8rem;
                    box-shadow: $shadow;
                    -webkit-border-radius: .8rem;
                    -moz-border-radius: .8rem;
                    -ms-border-radius: .8rem;
                    -o-border-radius: .8rem;
                }
            }
        }
    }
    
// wireframe section

    &__second{
        @extend .cont__first;

        &-p{
            margin-top: 5rem;
            @extend .cont__first-p;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                height: .3rem;
                width: 100%;
                left: 0;
                top: -2rem;
                background: $background-uwu;
                border-radius: .3rem;
                -webkit-border-radius: .3rem;
                -moz-border-radius: .3rem;
                -ms-border-radius: .3rem;
                -o-border-radius: .3rem;
            }
        }

        &__view{
            display: flex;
            flex-direction: column;
            width: 100%;
            
            &-type{
                @include d-flex(column);
            }

            &-p{
                @include d-flex(column);
                @extend .cont__first__view-sketch-p;
                width: fit-content;
                margin: 3rem 0;
            }

            &-mockup{
                display: flex;
                gap: 2rem;

                &-item{
                    @include d-flex(column);
                    justify-content: start;
                    gap: 1rem;

                    & span{
                        font-size: 1.2rem;
                        padding: .5rem .8rem;
                        border-radius: .8rem;
                        color: #fff;
                        font-weight: 600;
                        background: $background-uwu;
                        box-shadow: $shadow;
                        -webkit-border-radius: .8rem;
                        -moz-border-radius: .8rem;
                        -ms-border-radius: .8rem;
                        -o-border-radius: .8rem;
                    }

                    &-img{
                        max-width: 435px;
                    }
                }
            }
        }
    }

    // web process
    &__third{
        margin-top: 5rem;
        @include d-flex(column);

        &__text{
            position: relative;
            @include d-flex(column);
            gap: 2rem;
            margin: 0 5rem;

            &::after{
                content: "";
                position: absolute;
                height: .3rem;
                width: 100%;
                left: 0;
                top: -2rem;
                background: $background-uwu;
                border-radius: .3rem;
                -webkit-border-radius: .3rem;
                -moz-border-radius: .3rem;
                -ms-border-radius: .3rem;
                -o-border-radius: .3rem;
            }

            &-p{
                @extend .cont__first-p;

                &-bottom{
                    @extend .cont__first-p;
                    margin: 3rem 5rem;
                }
            }
        }

        &__view{
            @include d-flex(column);

            &-p{
                @extend .cont__second__view-p;
            }

            &-web{
                display: flex;
                gap: 2rem;

                &page{
                    @extend .cont__second__view-mockup-item;

                    &-nav{
                        @extend .cont__second__view-mockup-item;
                        align-items: start;
                    }
                }

                &-nav{
                    display: flex;
                    flex-direction: column;
                    gap: 3rem;
                }
            }

            &-img{
                max-width: 435px;

                &-nav{
                    max-width: 90vw;
                }
            }
        }
    }

// final comparation
    &__fourth{
        @extend .cont__first;

        &-p{
            @extend .cont__second-p;
        }

        &__view{

            &-type{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &-p{
                @extend .cont__second__view-p;
            }

            &-mockup-list{
                @include d-flex(column);
            }

            &-mockup{
                @include d-flex(row);
                align-items: start;
                gap: 2rem;
                margin-bottom: 5rem;

                &-home{
                    @extend .cont__second__view-mockup-item;
                    position: relative;
                    
                    &::before{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        height: 20%;
                        background: linear-gradient( #00000000, #1e1e1e8f , $main-color);
                    }

                    &-scroll{
                        height: 650px;
                        overflow: hidden;
                        overflow-y: scroll;
                        border-radius: .2rem;
                        -webkit-border-radius: .2rem;
                        -moz-border-radius: .2rem;
                        -ms-border-radius: .2rem;
                        -o-border-radius: .2rem;
                    }

                    &-img{
                        width: 700px;
                        height: auto;
                    }
                }
            }
        }

        &__text{
            @extend .cont__third__text;

            &::after{
                background: $background-uwu-2;
            }

            &-p-bottom{
                @extend .cont__first-p;
            }
        }

        &-deco{
            position: relative;
            width: 5px;
            height: 30rem;
            border-radius: 2.5px;
            background: $background-uwu-2;
            -webkit-border-radius: 2.5px;
            -moz-border-radius: 2.5px;
            -ms-border-radius: 2.5px;
            -o-border-radius: 2.5px;
        }
    }

    &__final{
        @include d-flex(column);
        @extend .cont__second-p;
        gap: 2rem;

        &-text{
            @include d-flex(column);
            gap: 2rem;

            &-span{
                @extend .cont__first__view-sketch-p;
            }
        }
    }

    &__progress-bar {
        height: 12px;
        margin: 3rem 0 ;
        width: 100%;
        background: linear-gradient(to right, #840a82   , #540D6E, #37238E, #1261A0, #2A9EBB, #73D2DE, #2A9EBB, #1261A0, #37238E, #540D6E, #840a82);
        background-size: 200% 100%;
        animation: progress 5s linear infinite;
        -webkit-animation: progress 5s linear infinite;
    }
}

.wireframe__img-mobile{
    width: 14.75rem;
    height: auto;
}

.compare-mobile::before{
    background: none;
}

.scroll-mobile{
    height: 700px;
}

.fourth__mobile-img{
    width: 300px;
}

.non-scroll-img{
    margin-right: 16.8px;
}


// copyright
.footer{
    @include d-flex(column);
    
    &__copyright{
        letter-spacing: 5px;
        font-size: 1.2rem;
        font-family: 'Amatic SC', Cabin;
        box-shadow: inset .2rem .2rem .8rem #000000,inset -.2rem -.2rem .5rem #3f3f3f;
        border-radius: .6rem;
        padding: 1rem 1.4rem;
        -webkit-border-radius: .6rem;
        -moz-border-radius: .6rem;
        -ms-border-radius: .6rem;
        -o-border-radius: .6rem;
}
}



@media screen and (max-width:1300px) {
    html{
        font-size: 13px;
   }

   img{
    width: 90%;
   }

   .cont__second__view-mockup{
    gap: .5rem;
    }


   .cont__fourth-deco{
    display: none;
   }

   .cont__fourth__view-mockup{
    display: grid;
    grid-template-columns: 1fr 1fr;
   }

   .cont__fourth__view-mockup-home-img{
    max-width: 450px;
   }

}